@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&display=swap");

/* General styles starts here */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

button {
  border-radius: 8px;
  background: #e55473;
  color: white;
  border: none;
  font-size: 20px;
  padding: 15px 28px;
  cursor: pointer;
  transition: 1s;
}
button:hover {
  background: #a6475b;
}
header,
#hot_deal {
  background: rgba(229, 84, 115, 0.1);
}
.container {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}
.section_heading {
  max-width: 500px;
  text-align: center;
  margin: 20px auto;
}
.section_heading h2 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
#hot_deal .hot_deal_text * {
  margin-bottom: 24px;
}
/* General styles ends here  */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .banner_text * {
  margin-bottom: 32px;
  max-width: 525px;
}
.banner .banner_text h1 {
  color: #272727;
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.banner .banner_img img {
  width: 100%;
  vertical-align: middle;
}

/* featured section   */
#featured {
  padding: 100px 0;
}
.section_content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: end;
}
.section_content .flower .flower_img {
  background-color: #eb9cad;
  border-radius: 300px 300px 0px 0px;
  padding: 30px 25px 0;
  height: 500px;
  display: flex;
  align-items: end;
}
.section_content .flower img {
  width: 100%;
}
.section_content .flower .pink {
  background: rgba(167, 33, 98, 0.15);
}
.section_content .flower .blue {
  background: rgba(5, 151, 160, 0.15);
}
.section_content .flower .green {
  background: rgba(71, 125, 17, 0.15);
}
.section_content .flower p {
  color: #272727;
  margin-top: 16px;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 145.833% */
  text-decoration-line: underline;
}
#delivery_support .support {
  display: flex;
  justify-content: space-evenly;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin-bottom: 100px;
  height: 100px;
  padding: 100px 0;
  text-align: center;
}
#delivery_support .support {
  color: rgba(39, 39, 39, 0.80);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px; /* 145.833% */
}

/* Delivery and support  */

/* hot deal section  */
.hot_deal_main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;
}
#hot_deal .hot_deal_text {
  width: 75%;
  max-width: 550px;
}
#hot_deal .hot_deal_text h2 {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
#hot_deal .hot_deal_img {
  max-width: 318px;
}
#hot_deal .hot_deal_text h2 .important,
.important {
  color: #e55473;
}

/* instagram section  */
#instagram {
  margin-top: 100px;
}

/* Newsletter section  */
#newsletter {
  margin: 128px 0;
}
.newsletter_main {
  background-image: url("../images/Rectangle\ 9.png");
  padding: 122px 0;
}
#newsletter .form {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  gap: 10px;
  padding: 0 10px;
}
#newsletter .form input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  font-size: 18px;
  border: none;
  outline: 2px solid gold;
}

.footer {
  background: #111010;
  height: 300px;
  position: relative;
}
.footer .foot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer h2 {
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 48px;
  line-height: normal;
}
.footer p {
  color: rgba(255, 255, 255, 0.9);
  /* text-align: center; */
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.footer .foot .description {
  margin: 20px 0;
}
.footer .foot .des {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}


